EXPO_PUBLIC_SUPABASE_URL=https://ydcbycanrbdcyyabnfxn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkY2J5Y2FucmJkY3l5YWJuZnhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MTE5NTIsImV4cCI6MjA4Njk4Nzk1Mn0.pjJkJ8PVGa7zeppWYxbBiUhic43lpnaxuVhgsApuv7k
